.txt1{
    font-family: "Lato", sans-serif;
    font: weight 600px;
    font-size: 64px;
    line-height: 76.8px;
}

.txt2{
    font-family: "Lato", sans-serif;
    font: weight 400px;
    font-size: 24px;
    line-height: 32px;

}

.pt1{
    width: 566px;
    height: 352px;
    margin-top: 85px;
    margin-left: 344px;
}

.botao{
    width: 222px;
    height: 66px;
    border-radius: 40px;


    margin-left: 172px;

    padding-top: 24px;
    padding-right: 56px;
    padding-bottom: 24px;
    padding-left: 56px;

    gap: 10px;

    border: solid 0px;

    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: white;

    background-color: #333333;
}

.imgs1{
    width: 151px;
    height: 472px;

    margin-left: 945px;
    margin-top: -352px;
}

.img2{
    margin-top: 14px;
}
.img3{
    margin-top: 14px;
}

.imgs2{
    margin-top: 76px;
    margin-left: 43px;
}
.imgg{
    padding-right: 51px;
}